* {
    box-sizing: border-box;
  }
  
  body {
 background-color: #2D264B;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  .book-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-list li {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
  }
  
  .book-list img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .book-list h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .book-list p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .book-list a {
    background-color: rgb(45, 0, 99);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .book-list a:hover {
    background-color: darkblue;
  }
  